{
  "presets": ["@babel/preset-env"], // entende qual ambiente estrou trabalhando e converte as features do ES6+ e converte para mais antigas
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-async-to-generator"
  ]
}